<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈페이지</title>
</head>

<body>
    <h1>게시판</h1>
    <ul>
        {% for post in posts %}
        <li>
            {{ post.title }}</a><br>
            - 작성자 : {{ post.author }}<br>
            - 작성 시간 : {{ post.timestamp }}<br>

            <!-- <a href="/edit/{{ loop.index0 }}">{{ post.title }}</a> -->
            <!-- 임의로 페이지를 띄우기 위해 loop.index0 -->

            - {{ post.category }}<br>
            <a href="/delete/{{post.post_id}}">[게시물 삭제]</a>
            <!-- 삭제 추가. Test 필요.  -->
            <!-- [게시물 삭제] : 삭제 버튼 추가.  -->
            <a href="/edit/{{ post.post_id }}">[글 수정]</a>
            <!-- 수정 버튼 추가 -->

        </li>
        {% endfor %}
    </ul>
    <a href="/write">글 작성</a>
</body>

</html>