<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈페이지</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .post {
            margin-bottom: 20px;
            padding: 20px;
            border: 1px solid #ccc;
        }

        .post-info {
            font-size: 16px;
        }

        .content-box {
            border: 1px solid #ccc;
            padding: 10px;
            margin-top: 10px;
        }

        .btn-container {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-8">
                <h1 class="text-center mb-4">게시판</h1>
                <a href="/write" class="btn btn-success btn-block mb-4">글 작성</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                {% for post in posts %}
                <div class="post bg-light">
                    <h4>{{ post.title }}</h4>
                    <p class="post-info">작성자: {{ post.userinfo_id }} | 작성 시간: {{ post.create_date }} | 카테고리: {{
                        post.category }} | 수정 시간: {{ post.update_date }}</p>
                    <div class="content-box">
                        <p>{{ post.content }}</p>
                    </div>
                    <div class="btn-container mt-3">
                        <form action="/delete/{{ post.post_id }}" method="post" style="display: inline;">
                            <button type="submit" class="btn btn-danger mr-2">게시물 삭제</button>
                        </form>
                        <form action="/edit/{{ post.post_id }}" method="get" style="display: inline;">
                            <button type="submit" class="btn btn-primary">글 수정</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>