<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>사이트 로그인</title>
        <link rel="canonical" href="https://getbootstrap.kr/docs/5.3/examples/sign-in/">
    </head>
    <body>
        <main>
            <form action="" method="post">
                <h1>Please sign in</h1>
                <p>id : <input type="text" name = "userid"></p>
                <p>password : <input type="password"  name = "password"></p>
                <p><input type = "submit" value = "로그인"/> </p>
                <p><a href="register">회원가입</a></p>
            </form>
        </main>
    </body>
</html>
