<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .mainTitle {color: black; text-decoration: none; font-weight: bold;}
    </style>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-between">
                <div></div>
                <div>
                    <a class="mainTitle" href="/mainpage">
                        <h1 style="text-align: center; font-weight: bold">Hello, World!</h1>
                    </a>
                </div>
                <div class="dropdown text-end">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="d-grid gap-2 d-md-flex justify-content-md-between">
            <div class="btn btn-outline-primary btn-sm disabled"> {{ data.content.category }} </div>
            {% if data.is_content_owner is true %}
            <div>
                <a class="btn btn-secondary btn-sm" href="/edit/{{ data.contentinfo_id }}" role="button">수정</a>
                <a class="btn btn-danger btn-sm" href="/delete/{{ data.contentinfo_id }}" role="button">삭제</a>
            </div>
            {% endif %}
        </div>
        <p></p>
        <div class="content">
			<table class="table table-striped" style="text-align: center; border: 1px solid #dddddd">
			<!-- 게시판에 글 목록들이 홀수와 짝수가 번갈아가며 색상이 변경됨. -->
                <thead>
					<tr>
						<th colspan="2" style="background-color: #ffffff; text-align: center; font-size: 20px">{{ data.content.title }}</th>
					</tr>
                    <tr>
                        <th colspan="2" style="background-color: #eeeeee; text-align: left;">
                            작성자: {{ data.content.userinfo_id }}
                        </th>
                    </tr>
                    <tr>
                        <td style="background-color: #eeeeee; text-align: left;">
                            작성일시: {{ data.content.create_date }} | 수정일시: {{ data.content.update_date }}
                        </td>
                    </tr>
				</thead>
			</table>
            {% for item in data.content.images %}
            <p class="ms-3"><img src="{{ item }}" alt=""></p>
            {% endfor %}
            <p class="ms-3">{{ data.content.content }}</p>
		</div>
        <hr>
	</div>
    <div class="container">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="/write" class="btn btn-outline-dark" style="align: right">글 쓰기</a>
        </div>
        <h2>comments</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">작성자</th>
                    <th scope="col">댓글</th>
                    <th colspan="2" scope="col">최근수정일시</th>
                </tr>
            </thead>
            <tbody id="comments">
                {% for item in data.comments %}
                <tr id="cm_row_{{ item.row_id }}">
                    <td>{{ item.userinfo_id }}</td>
                    <td id="cm_row_{{ item.row_id }}_comment">{{ item.comment }}</td>
                    {% if item.is_comment_owner is true %}
                    <td id="cm_row_{{ item.row_id }}_udate">{{ item.cm_update_date }}</td>
                    <td>
<!--                        <div class="wrap">-->
<!--                            <button class="btn btn-secondary pull-right" type="button">Edit</button>-->
<!--                        </div>-->
                        <button class="btn btn-secondary pull-right" type="button"
                                onclick="isEdit({{ item.row_id }})">Edit</button>
                        <button class="btn btn-danger pull-right" type="button"
                                onclick="deleteConfirm({{ item.row_id }})">Delete</button>
                    </td>
                    {% else %}
                    <td colspan="2">{{ item.cm_update_date }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td>{{ data.current_user_id }}</td>
                    <td colspan="3">
                        <div class="mb-3">
                            <input type="text" class="form-control" id="inputComment" name="inputComment">
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="submit" class="btn btn-danger" onclick="inputConfirm()">submit</button>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
        {% if data.is_more_comment is true %}
        <form method="post">
            <button class="btn btn-primary" type="submit" style="width: 100%">더 보기</button>
        </form>
        <p></p>
        {% endif %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous">
    </script>
    <script>
        history.replaceState({}, null, location.pathname);
    </script>
    <script>
        function isEdit(rowId) {
            console.log("수정 버튼 누름");
            var cm_row_tag = document.getElementById('cm_row_' + rowId)
            const editDiv = document.createElement('div');
            const editText = document.createTextNode('안녕하세요');
        }

        function deleteConfirm(rowId) {
            if (window.confirm("해당 댓글을 삭제하시겠습니까?")) {
                var postData = {
                    'delete_item': rowId
                }
                $.ajax({
                    type: 'POST',
                    url: '{{ url_for("view", contentinfo_id=data.contentinfo_id) }}',
                    data: JSON.stringify(postData),
                    dataType : 'JSON',
                    contentType: "application/json",
                    success: function(data) {
                        var cm_tag = document.getElementById('cm_row_' + data)
                        cm_tag.remove()
                    }
                })
                console.log("확인. 삭제 완료");
            } else {
                console.log("취소. 변화 없음");
            }
        }

        function inputConfirm() {
            if (window.confirm("해당 댓글을 게시하시겠습니까?")) {
                var cm = document.getElementById('inputComment').value
                if (!cm) {
                    window.alert("빈 댓글은 게시할 수 없습니다. 다시 확인해주세요.");
                } else {
                    var postdata = {
                        'comment': cm
                    }
                    $.ajax({
                        type: 'POST',
                        url: '{{ url_for('view', contentinfo_id=data.contentinfo_id) }}',
                        data: JSON.stringify(postdata),
                        dataType : 'JSON',
                        contentType: "application/json",
                    })
                    console.log("확인. 게시 완료");
                }
            } else {
                console.log("취소. 게시 취소");
            }
        }
    </script>
<!--    <script>-->
<!--        var editBtn = document.querySelectorAll('.btn_edit');-->
<!--        var deleteBtn = document.querySelectorAll('.btn_delete');-->
<!--        // var editBtnPopClose = document.querySelectorAll('.edit_pop_wrap .btn_close');-->
<!--        var editBtnPopConfirm = document.querySelectorAll('.edit_pop_wrap .btn_confirm');-->
<!--        var deleteBtnPopClose = document.querySelectorAll('.delete_pop_wrap .btn_close');-->
<!--        var deleteBtnPopConfirm = document.querySelectorAll('.delete_pop_wrap .btn_confirm');-->
<!--        var editPopID;-->
<!--        var deletePopID;-->
<!--        var isEditPop = false;-->
<!--        var isDeletePop = false;-->

<!--        // 수정 팝업 열기-->
<!--        for(var e_i = 0; e_i < editBtn.length; e_i++){-->
<!--            editBtn[e_i].addEventListener('click', function(){-->
<!--                editPopID = this.getAttribute('name');-->
<!--                if (!isEditPop) {-->
<!--                    document.querySelector(editPopID).style.display = 'block';-->
<!--                } else {-->
<!--                    document.querySelector(editPopID).style.display = 'none';-->
<!--                }-->
<!--            });-->
<!--        }-->

<!--        /*-->
<!--        // 수정 팝업 닫기-->
<!--        for(var e_j = 0; e_j < editBtnPopClose.length; e_j++){-->
<!--            editBtnPopClose[e_j].addEventListener('click', function(){-->
<!--                this.parentNode.parentNode.style.display = 'none';-->
<!--            });-->
<!--        }-->
<!--        */-->

<!--        // 수정 팝업 확인-->
<!--        for(var e_k = 0; e_k < editBtnPopConfirm.length; e_k++){-->
<!--            editBtnPopConfirm[e_k].addEventListener('click', function(){-->
<!--                this.parentNode.parentNode.style.display = 'none';-->
<!--            });-->
<!--        }-->

<!--        // 삭제 팝업 열기-->
<!--        for(var d_i = 0; d_i < editBtn.length; d_i++){-->
<!--            deleteBtn[d_i].addEventListener('click', function(){-->
<!--                deletePopID = this.getAttribute('href');-->
<!--                document.querySelector(deletePopID).style.display = 'block';-->
<!--            });-->
<!--        }-->

<!--        // 삭제 팝업 닫기-->
<!--        for(var d_j = 0; d_j < deleteBtnPopClose.length; d_j++){-->
<!--            deleteBtnPopClose[d_j].addEventListener('click', function(){-->
<!--                this.parentNode.parentNode.style.display = 'none';-->
<!--            });-->
<!--        }-->

<!--        // 삭제 팝업 확인-->
<!--        for(var d_k = 0; d_k < deleteBtnPopConfirm.length; d_k++){-->
<!--            deleteBtnPopConfirm[d_k].addEventListener('click', function(){-->
<!--                this.parentNode.parentNode.style.display = 'none';-->
<!--            });-->
<!--        }-->
<!--    </script>-->
</body>

</html>